<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shrinker</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body style="background-color: black;">
    <div class="container">
      <h1 style="    color:crimson; font-family: 'Raleway',sans-serif; 
      font-size: 55px; font-weight: 500; line-height: 72px; margin: 0 0 24px;
       text-align: center; text-transform: uppercase; position: absolute; top: 30% ;left: 35%;;">URL Shrinker</h1>
      <form action="" method="POST" style="align-content: center; width:800px; top: 40%; left: 35%; position: absolute; margin:0 auto;">
        <input
          type="url"
          name="FullUrl"
          placeholder="URL"
          class="form-control mr-2"
          required
          style="width: 410px; height: 50px;"
        />
        <button type="submit" class="btn btn-success" style="width: 150px; height: 50px; position: absolute; top: 110%;">shrink</button>
    
      
      </form>
      <div style="background-color:white; position: absolute; top: 60%; left: 35%;">
        <% if (shortUrl){ %>
          
                <a style="font-size:30px ; font-family: sans-serif;"  href=<%=shortUrl.GeneratedUrl %>> <%= 'mydomain.com/'+shortUrl.GeneratedUrl %></a>
                <% }%>
            
            
           
    
    </div>

     
    </div>
  </body>
</html>
